.idea
__pycache__
migrations/
upload/
db/
*.pyc
.webassets-*
console/app/static/public/css/*
console/app/static/public/js/*
config.json
start.sh
logs/*

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

etc/

models/
console/config.json
console/config.py
redis/*

agent-x/
install_package/*.tgz
install_package/*.rar
